

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}
label {
	color: white;
}

td {
	color: white;
}

th {
 	color: white;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.col-form-label{
	color: black;
}

.footer-address-icon{
	padding-right: 10px;
}

.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px
}

.tab-content{
	padding-top: 10px;
}