footer {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff019;
  margin-top: 10px;
  margin-bottom: 0px;
}

label {
  color: white;
}

td {
  color: white;
}

th {
  color: white;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.col-form-label {
  color: black;
}

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px;
}

.jumbotron {
  background-color: #fff019;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/*# sourceMappingURL=styles.css.map */
