$yellow: #fff019;
$red: #ff5733;
$green: #3cff33;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $bottom, $right, $left){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-right: $right;
	padding-left: $left;
}

footer {
	@include paddings(10px, 0px, 10px, 10px);
	background-color: $yellow;
	@include margenes(10px, 0px);
}

label {
	color: white;
}

td {
	color: white;
}

th {
 	color: white;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.col-form-label{
	color: black;
}

.footer-address-icon{
	@include paddings(0px, 0px, 10px, 0px);
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}

.tab-content{
	@include paddings(10px, 0px, 0px, 0px);
}