@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

footer {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  }

label {
  color: white; }

td {
  color: white; }

th {
  color: white; }

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); }

.col-form-label {
  color: black; }

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px; }

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 10px);}

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px; }
